APP_DB_PATH=data/profit_finder.db
APP_LOG_LEVEL=INFO
MIN_PROFIT_YEN=500
MIN_PROFIT_MARGIN=0.15
TODAY_SCORE_THRESHOLD=85
AMAZON_SP_API_REFRESH_TOKEN=
AMAZON_SP_API_CLIENT_ID=
AMAZON_SP_API_CLIENT_SECRET=
RAKUTEN_APP_ID=
RAKUTEN_ACCESS_KEY=
YAHOO_CLIENT_ID=
MARKET_SEARCH_QUERIES=
GOOGLE_SHEETS_ID=
GOOGLE_SERVICE_ACCOUNT_JSON=
ENGINE_MARKET_PRICE_ENABLED=true
ENGINE_AMAZON_ARBITRAGE_ENABLED=false
ENGINE_SELLER_DECLINE_ENABLED=false
ENGINE_VIRTUAL_PURCHASE_ENABLED=false
ENGINE_DISCONTINUED_ENABLED=false
ENGINE_SUPPLY_SHORTAGE_ENABLED=false
ENGINE_CATALOG_GAP_ENABLED=false
ENGINE_SIBLING_SEARCH_ENABLED=false
ENGINE_SALES_MANAGEMENT_ENABLED=false
